.checkmark {
    display: block;
    width: 36px;
    height: 36px;
    transform-origin: 50% 50%;
    border-radius: 50%;
    stroke-width: 5;
    stroke: #2aff00;
    
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    cursor: pointer;
    &__circle {
        stroke: rgb(0 0 0 / 20%);
        stroke-width: 1px;
        stroke-dasharray: 0;
        fill: none;
    }
}
