@import "../../../styles/animate";

.checkbox {
    display: none;
    $self: &;

    &:checked + #{$self}__label {
        svg {
            animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0.2s forwards;
        }

        #{$self}__title {
            text-decoration: line-through;
            text-decoration-color: #000000;
            animation: opacity 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0.2s forwards;
        }
    }
    &__label {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        align-items: center;
        cursor: pointer;
    }
    &__title {
        padding-left: 15px;
        opacity: 1;
        font-size: 18px;
    }
}
